.container{
	background-color: rgba(100,100,100,0.1);
	width: 800px;
	height: 800px;
	padding: 0px;
}
.upperWrap{
	background-color: rgba(100,200,100,0.2);
	width: 800px;
	height: 335px;
	padding-top: 0px;
}
h1{
	padding: 10px;
	margin: 0px;
}
.heading{
	height: 80px;
}
.topik hr{
	margin: 0px;
	border-color: rgba(100,100,100,0.2);
	border-width: 2px;
}
.topik{
	height: 80px;
}
.materi{
	height: 220px;
}
.materiKiri{
	width: 320px;
	height: 220px;
	float: left;
	padding: 0px;
	padding-right: 10px; 
	
}
.materiKiri h4{
	padding: 5px;
}
.materiKanan{
	width: 480px;
	height: 220px;
	float: left;
	padding: 0px;
		
}
.materiKanan input{
	height: 30px;
	width: 250px;
	text-align: right;
	font-size: 18px;
	margin: 5px 0px 5px 10px;
}
.materiKanan form:first-child{
	margin-top: 5px;
}
.materiKanan select{
	height: 30px;
	width: 250px;
	text-align: right;
	font-size: 18px;
	margin: 5px 0px 5px 10px;
}
.materiBawah{
	width: 800px;
	height: 35px;
	padding: 0px;
	float: left;
}
.reset{
	margin-left: 330px;
}
.tabel{
	margin-left: 28px;
}
.count{
	margin-left: 28px;
}