div#default
	background : #202060
	border : 0px solid
	border-radius : 10px
	margin : 0px auto
	width : 320px
	height : 335px

div#result
	color : black
	background : #E0FFE0
	border : 0px solid
	border-radius : 5px
	margin : 20px 20px 10px
	width : 280px
	height : 80px

div#result div p 
	text-align : right

div#input
	background : transparent
	color : black
	font-size : 24px
	float : right
	text-align : right
	direction = rtl
	
div#hasil
	background : transparent
	color : black
	font-size : 36px
	float : right
	text-align : right
	direction = rtl

div#keys
	width : 320px
	height : 210px
	padding : 0px 10px 15px

.key
	float : left
	margin : 5px 10px
	width : 55px
	height : 25px
	color : white
	border : 0px solid
	border-radius : 5px
	font : 12px
	line-height : 25px
	text-align : center
	
.bWlarge
	width : 130px

.bBlue
	background : #0000ff

.bCyan
	background : #008080

.bGray 
	background : #808080

.bRed
	background : #ff0000