doctype html
	html
		head
			meta(charset="utf-8")
		body
			article
				section
					h1
						hello World
					h2
						Hello Guest
					h3
				section
					h1
						currency
						select
							option	USD
							option	IDR
					h1
						currency
						select
							option	IDR
							option	USD
				section
					h1
						Currency Converter
