doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Finacial Calculator

    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-twilight.css')
    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article
      section
        h1 Finacial Calculator
        ul
          li <a href="/00.html">Default Calculator</a>
      section
        h2 Default Calculator
        div#default
          div#result
          div#keys
            div.bBlue.key(onclick = "Clear()") C
            div.bBlue.key(onclick = "Backspace()") ←
            div.bBlue.key(onclick = "Inverse()") ±
            div.bBlue.key(onclick = "Operator('÷')") ÷
            div.bGray.key(onclick = "AddDigit(7)") 7
            div.bGray.key(onclick = "AddDigit(8)") 8
            div.bGray.key(onclick = "AddDigit(9)") 9
            div.bBlue.key(onclick = "Operator('x')") x
            div.bGray.key(onclick = "AddDigit(4)") 4
            div.bGray.key(onclick = "AddDigit(5)") 5
            div.bGray.key(onclick = "AddDigit(6)") 6
            div.bBlue.key(onclick = "Operator('-')") -
            div.bGray.key(onclick = "AddDigit(1)") 1
            div.bGray.key(onclick = "AddDigit(2)") 2
            div.bGray.key(onclick = "AddDigit(3)") 3
            div.bBlue.key(onclick = "Operator('+')") +
            div.bWlarge.bGray.key(onclick = "AddDigit(0)") 0
            div.bGray.key(onclick = "Add('.')") .
            div.bRed.key(onclick = "Equal()") =
      section
        h2 Tip Calculator
        div#tip
          div.settings
            div#btax(onclick="tipOption('b')") Tip Before Tax
            div#atax(onclick="tipOption('a')") Tip After Tax
          div.board
            span Bill
            input#bill(type = "text" value = '' oninput="Tinfo('bill')" autocomplete='off') 
            span &nbsp;&nbsp;Tax(%)
            input#tax(type = "text" value = '' oninput="Tinfo('tax')" autocomplete='off')
            br
            div.slider
              span Tip (%)
              input#tipp.range(type="range" min="0" max="100" value="0" step="1" oninput="tipPercent(this.value)" onchange="tipPercent(this.value)" autocomplete='off')
              span#slideval1 0%
              br
              span Split&nbsp;&#160;&nbsp;&#160;
              input#split.range(type="range" min="1" max="10" value="0" step="1" oninput="tipSplit(this.value)" onchange="tipSplit(this.value)" autocomplete='off')
              span#slideval2 1
            div.reset(onclick="tipReset()") RESET
            div.info
              div.null
              div.kol Total
              div.kol Each
              br
              div.bar Tax Amount : 
              div#A1.kol 
              div#B1.kol 
              br
              div.bar Tip Amount :
              div#A2.kol 
              div#B2.kol 
              br
              div.bar Payment :
              div#A3.kol 
              div#B3.kol
          div#t.teks 
      section
        h2 Percentage Calculator
        div#percentage
          div What is X% of Y?
          div.reset(onclick = "Reset(1)") RESET
          div.board 
            input#input1X(type = "text" value = '' oninput="Pinfo('1X')" autocomplete='off')
            span % of
            input#input1Y(type = "text" value = '' oninput="Pinfo('1Y')" autocomplete='off')
          div.info#perc1 
          br
          div What percent is X of Y?
          div.reset(onclick = "Reset(2)") RESET
          div.board
            input#input2X(type = "text" value = '' oninput="Pinfo('2X')" autocomplete='off')
            span of
            input#input2Y(type = "text" value = '' oninput="Pinfo('2Y')" autocomplete='off')
          div.info#perc2 
          br
          div What's percent change X to Y?
          div.reset(onclick = "Reset(3)") RESET
          div.board 
            span From 
            input#input3X(type = "text" value = '' oninput="Pinfo('3X')" autocomplete='off')
            span to
            input#input3Y(type = "text" value = '' oninput="Pinfo('3Y')" autocomplete='off')
          div.info#perc3 
          br
      section

    script(src='build/build.js')
    // A) Basic Calculator
    script.
      var result = document.getElementById("result")
      var operator = ['+','-','x','÷'];
      var operatorAdded = false;
      var decimalAdded = false;
      function Add(Key) {
        if (!decimalAdded) {
          result.innerHTML += Key
          decimalAdded = true
        }
      }
      function AddDigit(Num) {
        if (Num === 0) {
          if (result.innerHTML === '' || result.innerHTML !== '0') {
            result.innerHTML += Num
          }
        }
        else {
          if (result.innerHTML === '0') {
            result.innerHTML = ''
            result.innerHTML += Num
          }
          else { 
            result.innerHTML += Num 
          }
        }
        operatorAdded = false 
      }
      function Backspace() {
        result.innerHTML = result.innerHTML.substr(0, result.innerHTML.length - 1);
      }
      function Clear() {
        result.innerHTML = ''
        operator = ''
        decimalAdded = false
      }
      function Equal() {
        var equation = result.innerHTML;
        var lastChar = equation[equation.length - 1];
        equation = equation.replace(/x/g, '*').replace(/÷/g, '/');
        //if(operators.indexOf(lastChar) > -1 || lastChar == '.') {
        //  equation = equation.replace(/.$/, '');
        //}
        operatorAdded = false
        result.innerHTML = eval(equation);
      }
      function Inverse() {
        var res = result.innerHTML
        res = res * -1
        result.innerHTML = res
      }
      function Operator(op) {
        if (!operatorAdded){
          if (op === '+') {
            result.innerHTML += "+"
          }
          else if (op === '-') {
            result.innerHTML += "-"
          }
          else if (op === 'x') {
            result.innerHTML += "x"
          }
          else if (op === '÷') {
            result.innerHTML += "÷"
          }
          operatorAdded = true
          decimalAdded = false
        }
      } 
    // A)

    // B) Tip Calculator
    script.
      var bill = document.getElementById("bill")
      var tax = document.getElementById("tax")
      var tipp = document.getElementById("tipp")
      var split = document.getElementById("split")
      var b = document.getElementById("btax")
      var a = document.getElementById("atax")
      var after = false
      var output = false
      b.className = "selected"
      var A1 = document.getElementById("A1")
      var B1 = document.getElementById("B1")
      var A2 = document.getElementById("A2")
      var B2 = document.getElementById("B2")
      var A3 = document.getElementById("A3")
      var B3 = document.getElementById("B3")

      function tipOption(Opt) {
        if (Opt === 'b' && a.className === "selected") {
          b.className = "selected"
          a.className = ""
          after = false
        }

        if (Opt === 'a' && b.className === "selected") {
          a.className = "selected"
          b.className = ""
          after = true
        }
        if (output) {
          operate()
        }
      }

      function tipPercent (slider) {
        var slideval1 = document.getElementById('slideval1')
        slideval1.innerHTML = slider + '%'  
        tipp.value = document.getElementById('tipp').value
        if (output) {
          operate()
        }
      }

      function tipReset () {
        bill.value = ''
        tax.value = ''
        tipp.value = 0
        split.value = 1
        var output = false
        slideval1.innerHTML = 0 + '%'
        slideval2.innerHTML = 1
        A1.innerHTML = ""
        B1.innerHTML = ""
        A2.innerHTML = ""
        B2.innerHTML = ""
        A3.innerHTML = ""
        B3.innerHTML = ""
        document.getElementById('t').innerHTML = ""
      }

      function tipSplit (slider) {
        var slideval2 = document.getElementById('slideval2')
        slideval2.innerHTML = slider  
        split.value = document.getElementById('split').value
        if (output) {
          operate()
        }
      }

      function Tinfo (text) {
        if (text === 'bill') {
          bill.value = document.getElementById('bill').value
          output = true
          operate()
        }
        else {
          tax.value = document.getElementById('tax').value
          if (output) {
            operate()
          }
        }
      }

      function operate(){
        var a = parseFloat(bill.value)
        var b
        if (tax.value == '') b = 0;
        else b = parseFloat(tax.value)
        var c
        if (tipp.value == '') c = 0;
        else c = parseFloat(tipp.value)
        var d = parseFloat(split.value)
        if (!after) { 
          var hasil1 = a * b / 100
          var hasil2 = hasil1 / d
          var hasil3 = a * c / 100
          var hasil4 = hasil3 / d
          var hasil5 = a + hasil1 + hasil3
          var hasil6 = hasil5 / d
          A1.innerHTML = hasil1.toFixed(2)
          B1.innerHTML = hasil2.toFixed(2)
          A2.innerHTML = hasil3.toFixed(2)
          B2.innerHTML = hasil4.toFixed(2)
          A3.innerHTML = hasil5.toFixed(2)
          B3.innerHTML = hasil6.toFixed(2)

          var total = a + hasil1
          var grandtotal = Math.ceil(hasil5)

          while(grandtotal % d != 0) {
            grandtotal++
          }

          var newtip = grandtotal - total

          var t1 = (Math.ceil(B3.innerHTML)).toFixed(2)
          var t2 = (newtip / d).toFixed(2)
          var t3 = ((newtip / a) * 100).toFixed(2)

          document.getElementById('t').innerHTML = "Round each payment up : Each Pay is " + t1 + "; Each Tip is " + t2 + "; Tip percentage is " + t3 + "%"
        }
        else {
          var hasil1 = a * b / 100
          var hasil2 = hasil1 / d
          var hasil3 = a * c / 100 + a * c / 100 * b / 100
          var hasil4 = hasil3 / d
          var hasil5 = a + hasil1 + hasil3
          var hasil6 = hasil5 / d
          A1.innerHTML = hasil1.toFixed(2)
          B1.innerHTML = hasil2.toFixed(2)
          A2.innerHTML = hasil3.toFixed(2)
          B2.innerHTML = hasil4.toFixed(2)
          A3.innerHTML = hasil5.toFixed(2)
          B3.innerHTML = hasil6.toFixed(2)

          var total = a + hasil1
          var grandtotal = Math.ceil(hasil5)

          while(grandtotal % d != 0) {
            grandtotal++
          }

          var newtip = grandtotal - total

          var t1 = (Math.ceil(B3.innerHTML)).toFixed(2)
          var t2 = (newtip / d).toFixed(2)
          var t3 = ((newtip / total) * 100).toFixed(2)

          document.getElementById('t').innerHTML = "Round each payment up : Each Pay is " + t1 + "; Each Tip is " + t2 + "; Tip percentage is " + t3 + "%"
        }
      }
      

    // B)

    // C) Percentage Calculator
    script. 
      var x1 = document.getElementById("input1X")
      var y1 = document.getElementById("input1Y")
      var x2 = document.getElementById("input2X")
      var y2 = document.getElementById("input2Y")
      var x3 = document.getElementById("input3X")
      var y3 = document.getElementById("input3Y")
      var info1 = document.getElementById("perc1")
      var info2 = document.getElementById("perc2")
      var info3 = document.getElementById("perc3")

      function Pinfo(ID) {
        if (ID === '1X') {
          x1.value = document.getElementById("input1X").value
        }
        else if (ID === '1Y') {
          y1.value = document.getElementById("input1Y").value
        }
        else if (ID === '2X') {
          x2.value = document.getElementById("input2X").value
        }
        else if (ID === '2Y') {
          y2.value = document.getElementById("input2Y").value
        }
        else if (ID === '3X') {
          x3.value = document.getElementById("input3X").value
        }
        else {
          y3.value = document.getElementById("input3Y").value
        }
        if (x1.value.length != 0 && y1.value.length != 0) {
          var hasil = x1.value / 100 * y1.value
          info1.innerHTML = x1.value + "% of " + y1.value + " is: " + hasil.toFixed(2)
        }
        if (x2.value.length != 0 && y2.value.length != 0) {
          var hasil = x2.value / y2.value * 100
          info2.innerHTML = x1.value + " of " + y1.value + " is: " + hasil.toFixed(2) + "%"
        }
        if (x3.value.length != 0 && y3.value.length != 0) {
          var hasil = (y3.value - x3.value) / x3.value * 100
          info3.innerHTML = "From " + x1.value + " to " + y1.value + " is: " + hasil.toFixed(2) + "%"
        }
      }

      function Reset(Num) {
        if (Num === 1) {
          x1.value = ''
          y1.value = ''
          info1.innerHTML = ''
        }
        else if (Num === 2) {
          x2.value = ''
          y2.value = ''
          info2.innerHTML = ''
        }
        else {
          x3.value = ''
          y3.value = ''
          info3.innerHTML = ''
        }
      }
    // C)
