doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
    title Luna
    link(rel='stylesheet' type='text/css' href='build/build.css')
  body
    article
      section
        h1 Currency Converter
      section
        h2
          | Converter Online
          h2 Converter Offline
      section
        h3 END OF CODE
      script(src='build/build.js')
