doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Finacial Calculator

    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-twilight.css')
    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article
      section
        h1 Finacial Calculator
        ul
          li <a href="/00.html">Default Calculator</a>
      section
        h2 Default Calculator
        div#default
          div#result
            div#input 10*10
            br
            br
            div#hasil 100

          div#keys
            button.bCyan.key mc
            button.bCyan.key m+
            button.bCyan.key m-
            button.bCyan.key mr
            button.bBlue.key AC
            button.bBlue.key C
            button.bBlue.key ±
            button.bBlue.key ÷
            button.bGray.key.num(onclick = "addDigit()") 7
            button.bGray.key.num(onclick = "addDigit()") 8
            button.bGray.key.num(onclick = "addDigit()") 9
            button.bBlue.key x
            button.bGray.key.num(onclick = "addDigit()") 4
            button.bGray.key.num(onclick = "addDigit()") 5
            button.bGray.key.num(onclick = "addDigit()") 6
            button.bBlue.key -
            button.bGray.key.num(onclick = "addDigit()") 1
            button.bGray.key.num(onclick = "addDigit()") 2
            button.bGray.key.num(onclick = "addDigit()") 3
            button.bBlue.key +
            button.bGray.key.num(onclick = "addDigit()") 0
            button.bGray.key.num(onclick = "addDigit()") 00
            button.bGray.key .
            button.bRed.key =
      section
    script(src='build/build.js').
      var keychars = document.querySelectorAll(".num").value;
      var operators = ['+', '-', 'x', '÷'];
      var decimalAdded = false;
      for(var i = 0; i < keys.length; i++) {
        keys[i].onclick = function(e) {
          var input = document.querySelector('#hasil');
          var inputVal = input.innerHTML;
          var btnVal = this.innerHTML;
          if(btnVal == 'C') {
            input.innerHTML = '';
            decimalAdded = false;
          }
          else if(btnVal == '=') {
            var equation = inputVal;
            var lastChar = equation[equation.length - 1];
            equation = equation.replace(/x/g, '*').replace(/÷/g, '/');
            if(operators.indexOf(lastChar) > -1 || lastChar == '.')
              equation = equation.replace(/.$/, '');
      
            if(equation)
              input.innerHTML = eval(equation);
        
            decimalAdded = false;

            else if(operators.indexOf(btnVal) > -1) {
              var lastChar = inputVal[inputVal.length - 1];
              if(inputVal != '' && operators.indexOf(lastChar) == -1) 
                input.innerHTML += btnVal;
              else if(inputVal == '' && btnVal == '-') 
                input.innerHTML += btnVal;
              if(operators.indexOf(lastChar) > -1 && inputVal.length > 1) {
                input.innerHTML = inputVal.replace(/.$/, btnVal);
              }
              decimalAdded =false;
            }
          else if(btnVal == '.') {
            if(!decimalAdded) {
            input.innerHTML += btnVal;
            decimalAdded = true;
          }
          else {
            input.innerHTML += btnVal;
          }
        }
      }