doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
    title Luna
    link(rel='stylesheet' type='text/css' href='build/build.css')
    link(rel='stylesheet' type='text/css' href='build/style.css')
  body
    article
      section
        h1 Currency Converter
      section#C-On
        h2 Currency Converter
        label Currency 1 :
        select#C1
          include Konversi.html
        label Nilai Mata Uang :
        input(type='number' min='0' max='10000000000' value='0')
        label Currency 2 :
        select#C2
          include Konversi.html
        p
        input(type='submit' value='Exchange')
        input(type='submit' value='Convert')
      section
        h3 Hasil Converter
        #R-On none
    script(src='build/jquery.min.js')
    script.
      $(document).ready(function(){
      var moneyx = [];
      var moneyy = [];
      for(var i = 0; i < 53; i++){
      var x,y;
      x = $("#C1 option").eq(i).html();
      y = "(" + x.split("	")[3] + ") " + x.split("	")[1];
      $("#C1 option").eq(i).html(y);
      $("#C2 option").eq(i).html(y);
      moneyy.push($.trim(y));
      moneyx.push($.trim(x));
      }
      $("#C-On input[value='Exchange']").click(function(){
      var x = $("#C1").val();
      var y = $("#C2").val();
      $("#C1").val(y);
      $("#C2").val(x);
      });
      $("#C-On input[value='Convert']").click(function(){
      var k, l, m, n, r, s, x, y, z;
      x = $("#C1").val();		y = $("#C2").val();
      z = $("#C-On input[type='number']").val();
      k = $.inArray(x,moneyy);	l = moneyx[k];
      m = l.split("	")[4];		r = z / m;
      n = l.split("	")[1];		z = parseInt(z).toFixed(2) + " " + n;
      k = $.inArray(y,moneyy);	l = moneyx[k];
      m = l.split("	")[4];		r = r * m;
      n = l.split("	")[1];		r = r.toFixed(2) +" "+ n;
      var result = "<label>"+ x + ": </label>" + z + "<br><label>" + y + ": </label>" + r;
      $("#R-On").html(result);
      window.location.href="#3";
      });
      });
    script(src='build/build.js')
