doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Finacial Calculator

    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-twilight.css')
    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article
      section
        h1 Finacial Calculator
        ul
          li <a href="/00.html">Default Calculator</a>
      section
        h2 Default Calculator
        div#default
          div#result
            div#hasil 

          div#keys
            button.bBlue.key(onclick = "Clear()") C
            button.bBlue.key(onclick = "Backspace()") ←
            button.bBlue.key(onclick = "Inverse()") ±
            button.bBlue.key(onclick = "Operator('÷')") ÷
            button.bGray.key(onclick = "AddDigit(7)") 7
            button.bGray.key(onclick = "AddDigit(8)") 8
            button.bGray.key(onclick = "AddDigit(9)") 9
            button.bBlue.key(onclick = "Operator('x')") x
            button.bGray.key(onclick = "AddDigit(4)") 4
            button.bGray.key(onclick = "AddDigit(5)") 5
            button.bGray.key(onclick = "AddDigit(6)") 6
            button.bBlue.key(onclick = "Operator('-')") -
            button.bGray.key(onclick = "AddDigit(1)") 1
            button.bGray.key(onclick = "AddDigit(2)") 2
            button.bGray.key(onclick = "AddDigit(3)") 3
            button.bBlue.key(onclick = "Operator('+')") +
            button.bWlarge.bGray.key(onclick = "AddDigit(0)") 0
            button.bGray.key(onclick = "Add('.')") .
            button.bRed.key(onclick = "Equal()") =
      section
    script(src='build/build.js')
    script.
      var result = document.getElementById("hasil")
      var operator = ['+','-','x','÷'];
      var decimalAdded = false;
      function Add(Key) {
        if (!decimalAdded) {
          result.innerHTML += Key
          decimalAdded = true
        }
      }
      function AddDigit(Num) {
        if (Num === 0){
          if (result.innerHTML === '' || result.innerHTML !== '0') {
            result.innerHTML += Num
          }
        }
        else {
          if (result.innerHTML === '0') {
            result.innerHTML = ''
            result.innerHTML += Num
          }
          else { 
            result.innerHTML += Num 
          }
        }
      }
      function Backspace() {
        result.innerHTML = result.innerHTML.substr(0, result.innerHTML.length - 1);
      }
      function Clear() {
        result.innerHTML = ''
        operator = ''
        decimalAdded = false
      }
      function Equal() {
        var equation = result.innerHTML;
        var lastChar = equation[equation.length - 1];
        equation = equation.replace(/x/g, '*').replace(/÷/g, '/');
        //if(operators.indexOf(lastChar) > -1 || lastChar == '.') {
        //  equation = equation.replace(/.$/, '');
        //}
        result.innerHTML = eval(equation);
      }
      function Inverse() {
        var res = result.innerHTML
        res = res * -1
        result.innerHTML = res
      }
      function Operator(op) {
        if (op === '+') {
          result.innerHTML += "+"
        }
        else if (op === '-') {
          result.innerHTML += "-"
        }
        else if (op === 'x') {
          result.innerHTML += "x"
        }
        else if (op === '÷') {
          result.innerHTML += "÷"
        }
        decimalAdded = false
      }  
